{% load static %}
{% load cropping %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% fontawesome_5_static %}
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}"/> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
        <title>Kit Kookt | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}"/>
        {% block other_meta %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161600221-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-161600221-1');
        </script>
    </head>
    <body>
        <div class="container max-w-screen-md mx-auto sm:px-10">
            <a href="https://instagram.com/kitkookt" target="blank" class="flex items-center justify-start ml-3 mt-3"><img alt="Instagram logo" class="w-8 mr-2" src="{% static 'instagram_glyph.png' %}" /><span class="">Volg @KitKookt</span></a>
            <div class="mb-10 mx-auto w-3/4 text-center">
                <div class="py-10 font-serif font-medium text-4xl border-b-4 border-black border-dotted">
                    <a href="/" >Kit Kookt</a>
                </div>
            </div>
            <div class="font-sans">
                {% block content %}(no content){% endblock %}
            </div>
        </div>
    </body>
</html>