{% load fontawesome_5 %}
{% load static %}
{% load cropping %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% fontawesome_5_static %}
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" type="text/css" /> 
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'cookbook/style.css' %}"> -->
        <title>Kit Kookt | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161600221-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-161600221-1');
        </script>
    </head>
    <body>
        <div class="container mx-auto block">
            <div class="mb-10 mx-5 text-center">
                <a href="/" class="block py-10 font-header font-medium text-4xl border-b-4 border-black border-dotted">Kit Kookt</a>
            </div>
            <div class="font-body">
                {% block content %}(no content){% endblock %}
            </div>
        </div>
    </body>
</html>