{% extends "cookbook/base.html" %}

{% load static %}

{% block title %}Info{% endblock %}

{% block content %}
<div class="">
    <div class="">
        <p>
            Voor mijn gerechtjes haal ik veel inspiratie uit Amerikaanse bronnen. Hun metingen zijn anders dan die van ons, namelijk in cups. 
            Ik heb mijzelf ook cups aangeschaft waardoor je in veel van mijn recepten deze metingen zal terugvinden. 
            Niet iedereen heeft dit in zijn/haar keuken, dus heb ik hier onder een tabelletje staan met de juiste omzettingen naar gram en ml. 
            (bron tabel: Libelle Lekker)
        </p>
        <p>
            Cups zijn erg handig om in huis te hebben! Als je even googelt naar 'maatcups' of 'maatschepjes' vind je een groot aanbod.
        </p>
        <img src="https://res.cloudinary.com/dszhpj8w6/image/upload/v1585233583/cupsnaargrammen_oisvpd_wx4k7f.png" />
    </div>
</div>
{% endblock %}
