
<a class="block mb-3" href="{% url 'cookbook:recipe' url_title %}">
    {% if header_url %}
        <!-- <img data-src="{{ header_url|safe }}" class="w-full cld-responsive"> -->
        {{ header_url | safe }}
    {% endif %}
    <p class="font-serif leading-snug p-2 text-xl">
        <span class="text-gray-600">{{ diet }}</span>
        <span class="inline-block w-5 align-middle fill-current {% if icon_class == 'veggie' %}text-yellow-500{% else %}text-green-600{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M5.833,37.065c0,0-4.161,33.195,30.567,33.195C36.4,70.26,45.055,37.065,5.833,37.065z"></path><path d="M94.074,23.155c-47.241,0-51.611,29.712-50.744,44.967c7.981-23.02,29.738-28.101,29.738-28.101   c-20.77,12.557-25.03,35.225-25.307,36.825C100.514,74.81,94.074,23.155,94.074,23.155z"></path></g></svg>
        </span>
        {{ title }}
    </p>
</a>