{% extends "cookbook/base.html" %}

{% load static %}
{% load cropping %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="">
    <div class="">
        <div class="">
            <div class="">
                <h3><span class="">{{ diet }}</span> <span class="{{ icon_class }}">{{ icon.as_html }}</span> {{ title }}</h3>
            </div>
        </div>
        {% if header_url %}
        <div class="">
            <div class="">
                <img src="{{ header_url }}" />
            </div>
        </div>
        {% endif %}
        <div class="">
            <div class="">
                <p>{{ intro|safe }}</p>
            </div>
        </div>
        {% for ingredientlist in ingredientlists %}
        <div class="">
            <div class="">
                <table class="">
                    <thead>
                        <tr>
                            <th colspan=2 scope="col">Ingrediënten | {{ ingredientlist.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ingredient in ingredientlist.ingredients %}
                        <tr>
                            <td>{{ingredient.name}}</td>
                            <td>{{ingredient.quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        <div class="">
            <div class="">
                <strong>Instructies</strong>
                <p>
                {{ steps|safe }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}