{% extends "cookbook/base.html" %}

{% load static %}
{% load cropping %}
{% load tailwinds_filter %}

{% block title %}{{ title }}{% endblock %}

{% block other_meta %}
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Recipe",
    "name": "{{ title }}",
    "image": [
        {{ header_url }}
    ],
    "author": {
        "@type": "Person",
        "name": "Kit Kookt"
    },
    "description": "{{ intro|safe }}"
}
</script>
{% endblock %}

{% block content %}
<div class="block">
    {% include "cookbook/recipe-card.html" %}
    <div class="px-2">
        <div class="mb-10">
            <p>{{ intro|safe }}</p>
        </div>
        {% for ingredientlist in ingredientlists %}
        <table class="border-collapse mb-10">
            <thead>
                <tr>
                    <th class="border-b border-grey-300 border-dotted text-left" colspan=2 scope="col">Ingrediënten | {{ ingredientlist.name }}</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredientlist.ingredients %}
                <tr>
                    <td class="pr-8 align-text-top">{{ingredient.name|capfirst}}</td>
                    <td>{{ingredient.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <p class="border-b border-grey-300 border-dotted mb-1 font-bold">Instructies</p>
        <div class="mb-10">
            {{ steps|safe|tailwinds }}
        </div>
    </div>
</div>
{% endblock %}