
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap');
body {
    font-family: 'Montserrat', serif;
}

a, a:hover {
  color:inherit;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin: 1em 2em;
    padding: 1em 0em;
    border-bottom: 3px dotted black;
}
h1, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

span.diet {
    color: #999;
}

span.veggie i {
    color: #f5d65b;
}
span.vegan i {
    color: green;
}

.recipe img {
    width: 100%;
    margin: 1em 0em 2em 0em;
}
.overview img {
    width: 100%;
    margin: 1em 0em 0.25em 0em;
}

.ingredients table thead th {
    border-top: 0;
    border-bottom: 2px dotted #dee2e6;
}
.ingredients table tbody td {
    border-top: 1px dotted #dee2e6;
}

.instructions p {
    margin-left: 1em;
}